@font-face {
   font-family: 'Contra';
   src: url('../fonts/Contra.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Zyborgs 3D';
   src: url('../fonts/Zyborgs 3D.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'SuperMario256';
   src: url('../fonts/SuperMario256.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Orbitron';
   src: url('../fonts/Orbitron-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

:root {
   // contra-background dimensions
   --nav-bg-image-width: 3456; 
   --nav-bg-image-height: 224; 
   // mario-background dimensions
   // --nav-bg-image-width: 2624; 
   // --nav-bg-image-height: 240; 

   --navbar-height: 150px;
   --footer-height: 30px;
   --main-height: calc(100vh - var(--navbar-height) - var(--footer-height) - 8px);  // 8px -> total height for navbar and footer borders
   --nav-bg-scroll: calc(100vw - (var(--navbar-height) * (var(--nav-bg-image-width) / var(--nav-bg-image-height))));
}

// sass styles.scss assets/css/styles.css --watch

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

   nav {
      position: relative;
      width: 100vw;
      height: var(--navbar-height);
      overflow: hidden;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 4px ridge #888;

      #background-container {
         position: absolute;  
         top: 0;
         left: 0;
         width: 100%;    
         height: 100%;
         background-image: url("../images/contra-background.png");   /* https://www.spriters-resource.com/nes/contra/sheet/7680/ */
         // background-image: url("../images/mario-background.png");  
         background-repeat: no-repeat;
         background-size: cover;
         animation: background-scroll 30s linear infinite alternate;
      }

      #left-mario, #right-mario {
         height: calc(var(--navbar-height) - 10%);
         transition: transform .1s ease-in-out, filter 0.1s ease, opacity 0.1s ease;
         cursor: pointer;
         width: auto;
         z-index: 2;
      }

      #left-mario:hover, #right-mario:hover {
         transform: scale(1.1);
      }

      #left-mario {
         animation: .25s ease-out slide-from-below;
         // animation-fill-mode: forwards; 
         margin-left: 25px;
      }

      #right-mario {
         animation: .75s ease-out slide-from-right;
         // animation-fill-mode: forwards; 
         margin-right: 25px;
      }

      .flash {
         animation: flash 0.1s linear;
      }

      #bullet-holes-container {
         width: 100%;
         height: var(--navbar-height);
         position: relative;
         display: flex;
         flex-flow: row nowrap;
         justify-content: center;
         align-items: center;

         .bullet-hole {
            position: absolute;
            width: 30px;
            height: auto;
            z-index: 3;
         }

         #letters-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            font-size: 48px;
            font-weight: 400;
            letter-spacing: 5px;
            font-family: 'SuperMario256', monospace;
            text-transform: uppercase;
            -webkit-text-stroke: 1px #BBB;
            text-shadow: 5px 5px 0px #000, 5px 5px 0px #333, 6px 6px 0px #666;

            margin: 0;
            z-index: 2;
            align-self: center;
            padding: 10px 30px;
            border-radius: 35px;
            background-color: rgba(255, 0, 0, 0.15);
            outline: 1px solid #999;
            border: 10px solid rgba(#E71E07, 1.0);
            border-style: ridge;
            box-shadow: 0px 1px 0px #881104, 0px 1px 0px #999;

            span {
               // transition: transform 0.75s ease-in-out;
               display:inline-block; 
               cursor: pointer;
               line-height:1;
            }

            .spin {
               animation: rotate 0.6s ease;
            }

            // span:hover {
            //    transform: rotate(360deg); 
            // }
            
            .blue   { color: rgba(#009CDA, 1.0) }
            .red    { color: rgba(#E71E07, 1.0) }
            .green  { color: rgba(#42B132, 1.0) }
            .yellow { color: rgba(#FCD000, 1.0) }
         }
      }
   }

   nav::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 0, 0, 0.15); 
      pointer-events: none; 
      z-index: 1;
   }

   main {
      /* width: 100vw; */
      height: var(--main-height);
      overflow-x: auto;
      /* scrollbar-width: none; 
      -ms-overflow-style: none; */
      // position: relative; 
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      
      #controller-container {
         position: fixed;
         bottom: calc(var(--footer-height) + 2%);
         left: 2%; 
         z-index: 2;

         display: flex;
         flex-flow: row nowrap;
         justify-content: space-evenly;
         align-items: center;
         padding: 5px 10px;

         cursor: grab;
         user-select: none;

         width: 425px;
         height: 176px;
         background-color: #e0ded4;
         border: 2px solid #4B4E43;
		   border-radius: 4px;

         #controller {
            width: 425px;
            height: 176px;
            position: relative;

            #buttons-container {
               position: absolute;
               top: 32px;
               width: 100%;
               height: 138px;
               background-color: #464646;
               background: linear-gradient(to bottom, #3a3e3b 0%, #232624 100%);
               box-shadow: inset 0px 1px 2px 1px rgba(0, 10, 0, 0.91);

               #buttons {
                  display: flex;
                  flex-flow: row nowrap;
                  justify-content: space-between;
                  align-items: center;
                  height: 100%;

                  #left, #middle, #right {
                     height: 100%;
                     position: relative;

                     display: flex;
                     flex-flow: column nowrap;
                     justify-content: space-between;
                     align-items: center;
                     row-gap: 4px;
                  }

                  #left {
                     width: 30%;
                  }

                  #middle {      
                     width: 36%;
                     
                     .stripe {
                        width: 100%;
                        height: 20%;
                        background-color: rgba(#7b836c, 0.8);
                        border-radius: 5px;
                     }

                     #pause-start-container {
                        position: absolute;
                        bottom: 17px;
                        width: 100%;
                        z-index: 1;

                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-around;
                        align-items: center;
                        row-gap: 4px;

                        #pause-start-labels {
                           display: flex;
                           flex-flow: row nowrap;
                           justify-content: space-around;
                           align-items: center;
                           width: 100%;

                           span {
                              font-family: 'Orbitron', sans-serif;
                              font-size: 0.85rem;
                              font-weight: 800;
                              color: #DF2015;
                           }
                        }

                        #pause-start-buttons {
                           background-color: #e0ded4;
                           border-radius: 6px;
                           border: 4px solid #e0ded4;
                           box-shadow: inset 0px 0px 3px 4px rgba(50, 50, 50, 0.3);

                           display: flex;
                           flex-flow: row nowrap;
                           justify-content: space-around;
                           align-items: center;
                           width: 96%;
                           height: 2rem;
                           
                           #pause, #start {
                              width: 40px;
                              height: 50%;
                              background-color: #464646;
                              border-radius: 10px;
                              border: 1px solid #272723;
                              box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.51);
                              cursor: pointer;
                           }

                           #pause:active, #start:active {
                              box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.51);
                           }
                        }
                     }
                  }

                  #right {
                     position: relative;
                     height: 100%;
                     width: 30%;

                     #ba-buttons-container {
                        position: absolute;
                        bottom: 1px;
                        left: 10px;

                        #ba-buttons {
                           display: flex;
                           flex-flow: row nowrap;
                           justify-content: flex-start;
                           align-items: center;
                           column-gap: 10px;

                           .button-container {
                              width: 2.5rem;
                              height: 2.5rem;
                              border-radius: 4px;
                              background-color: #e0ded4;
                              display: flex;
                              flex-flow: row nowrap;
                              justify-content: center;
                              align-items: center;

                              #b-button, #a-button {
                                 width: 2rem;
                                 height: 2rem;
                                 background: linear-gradient(to bottom, #DF2015 0%, #f84936 100%);
                                 border-radius: 50%;
                                 border: 1px rgba(0, 0, 0, 0.51) solid;
                                 box-shadow: inset 0px 1px 2px 0px #FBFBFB, 0px 1px 1px 0px rgba(0, 0, 0, 0.71);
                                 cursor: pointer;
                              }

                              #b-button:active, #a-button:active {
                                 border: 1px rgba(0, 0, 0, 0.5) solid;
                                 box-shadow: inset 0px 0px 1px 0px #FBFBFB, 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
                              }
                           }
                        }

                        #ab-labels {
                           display: flex;
                           flex-flow: row nowrap;
                           justify-content: flex-end;
                           align-items: center;
                           column-gap: 8px;

                           span {
                              font-family: 'Orbitron', sans-serif;
                              font-size: 0.85rem;
                              font-weight: 800;
                              color: #DF2015;
                              width: 50%;
                              display: block;
                              text-align: right;
                           }
                        }
                     }
                  }
               }
            }
         }

         span {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            img {
               width: 25px;
               height: auto;
               cursor: pointer;
            }
         }
      }

      #controller.dragging {
         cursor: grabbing;
      }

      section {
         height: 100%;
         flex: 0 0 100vw;

         color: black;
         display: flex;
         flex-flow: column wrap;
         justify-content: center;
         align-items: center;
      }

      #intro {
         background-color: rgba(0, 255, 0, 0.5);
      }

      #skills {
         background-color: rgba(255, 122, 122, 0.5);
      }

      #projects {
         background-color: rgba(0, 122, 122, 0.5);
      }

      #contact {
         background-color: rgba(255, 0, 255, 0.5);
      }
   }

   main::-webkit-scrollbar {
      display: none;
   }

   footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;   
      text-align: center;
      background-color: rgba(25, 0, 255, 0.5);
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: var(--footer-height);
      font-size: 10px;
      font-family: 'Contra', monospace;
      text-transform: uppercase;
      border-top: 4px ridge #888;

      span a {
         color: blue;
         animation: blink .5s steps(1, start) infinite;
         text-shadow: 2px 2px 0px #000;
         text-decoration: none;
      }

      span a:hover {
         color: rgba(255, 255, 255, 0.8);
         text-shadow: 0px 0px 5px red;
      }
   }
}


@keyframes rotate {
   from { transform: rotate(0deg); }
   to   { transform: rotate(360deg); }
}

@keyframes flash {
   0%   { filter: brightness(100%); }
   50%  { filter: brightness(300%); }
   100% { filter: brightness(100%); }
}

@keyframes background-scroll {
   0%   { background-position: 0 0; }
   100% { background-position: var(--nav-bg-scroll) 0; }
}

@keyframes blink {
   0%   { color: blue; } 
   50%  { color: rgba(255, 255, 255, 0.8); } 
   100% { color: blue; } 
}

@keyframes slide-from-below {
   0%   { transform: translateY(100%); opacity: 0; }
   100% { transform: translateY(0%); opacity: 1; }
}

@keyframes slide-from-right {
   0%  { transform: translateX(100%); opacity: 0; }
   25% { transform: translateX(-10%); opacity: 1; }
   50% { transform: translateX(0%); opacity: 1; }
}

@keyframes shake {
   0%   { transform: rotate(-5deg); }
   25%  { transform: rotate(5deg); }
   50%  { transform: rotate(5deg); }
   75%  { transform: rotate(-5deg); }
   100% { transform: rotate(0deg); }
}