:root {
    --nav-bg-image-width: 3456; 
    --nav-bg-image-height: 224; 
    --navbar-height: 200px;
    --footer-height: 30px;
    --main-height: calc(100vh - var(--navbar-height) - var(--footer-height));
    --nav-bg-scroll: calc(100vw - (var(--navbar-height) * (var(--nav-bg-image-width) / var(--nav-bg-image-height))));
}

@font-face {
    font-family: 'Contra';
    src: url('assets/fonts/Contra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Contra', monospace;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

nav {
    position: relative;
    width: 100vw;
    height: var(--navbar-height);
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.1); 
    pointer-events: none; 
    z-index: 1;
}

.nav-bg {
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    background-image: url("assets/images/contra-background.png");   /* https://www.spriters-resource.com/nes/contra/sheet/7680/ */
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation: scroll-bg 30s linear infinite alternate;
}

@keyframes scroll-bg {
    0%   { background-position: 0 0; }
    100% { background-position: var(--nav-bg-scroll) 0; }
}

.btns-container {
    /* position: absolute;
    top: 0;
    right: 0; */
    z-index: 2;
}

button {
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;   
    text-align: center;
    background-color: rgba(0, 0, 255, 0.5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    font-size: 10px;
}

footer span a {
    color: blue;
}

footer span a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 5px red;
}

main {
    /* width: 100vw; */
    height: var(--main-height);
    overflow-x: auto;
    /* scrollbar-width: none; 
    -ms-overflow-style: none; 
    position: relative; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main::-webkit-scrollbar {
  display: none;
}



section {
    height: 100%;
    flex: 0 0 100vw;

    color: black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#hero {
    background-color: rgba(0, 255, 0, 0.5);

}