@font-face {
  font-family: "Contra";
  src: url("../fonts/Contra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Zyborgs 3D";
  src: url("../fonts/Zyborgs 3D.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SuperMario256";
  src: url("../fonts/SuperMario256.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --nav-bg-image-width: 3456;
  --nav-bg-image-height: 224;
  --navbar-height: 150px;
  --footer-height: 30px;
  --main-height: calc(100vh - var(--navbar-height) - var(--footer-height) - 8px);
  --nav-bg-scroll: calc(100vw - (var(--navbar-height) * (var(--nav-bg-image-width) / var(--nav-bg-image-height))));
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
html nav, body nav {
  position: relative;
  width: 100vw;
  height: var(--navbar-height);
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 4px ridge #888;
}
html nav #background-container, body nav #background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/contra-background.png"); /* https://www.spriters-resource.com/nes/contra/sheet/7680/ */
  background-repeat: no-repeat;
  background-size: cover;
  animation: background-scroll 30s linear infinite alternate;
  z-index: 5;
}
html nav #left-mario, html nav #right-mario, body nav #left-mario, body nav #right-mario {
  height: calc(var(--navbar-height) - 10%);
  transition: transform 0.1s ease-in-out, filter 0.1s ease, opacity 0.1s ease;
  cursor: pointer;
  width: auto;
  z-index: 6;
}
html nav #left-mario:hover, html nav #right-mario:hover, body nav #left-mario:hover, body nav #right-mario:hover {
  transform: scale(1.1);
}
html nav #left-mario, body nav #left-mario {
  animation: 0.75s ease-out slide-from-left;
  margin-left: 25px;
}
html nav #right-mario, body nav #right-mario {
  animation: 0.75s ease-out slide-from-right;
  margin-right: 25px;
}
html nav .flash, body nav .flash {
  animation: flash 0.1s linear;
}
html nav #bullet-holes-container, body nav #bullet-holes-container {
  width: 100%;
  height: var(--navbar-height);
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
html nav #bullet-holes-container .bullet-hole, body nav #bullet-holes-container .bullet-hole {
  position: absolute;
  width: 30px;
  height: auto;
  z-index: 7;
}
html nav #bullet-holes-container #letters-container, body nav #bullet-holes-container #letters-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: "SuperMario256", monospace;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #BBB;
  text-shadow: 5px 5px 0px #000, 5px 5px 0px #333, 6px 6px 0px #666;
  animation: 0.25s ease-out slide-from-below;
  margin: 0;
  z-index: 6;
  align-self: center;
  padding: 10px 30px;
  border-radius: 35px;
  background-color: rgba(255, 0, 0, 0.15);
  outline: 1px solid #999;
  border: 10px solid #e71e07;
  border-style: ridge;
  box-shadow: 0px 2px 0px #881104, 0px 2px 0px #999;
}
html nav #bullet-holes-container #letters-container span, body nav #bullet-holes-container #letters-container span {
  transition: transform 0.75s ease-in-out;
  display: inline-block;
  cursor: pointer;
  line-height: 1;
}
html nav #bullet-holes-container #letters-container .spin, body nav #bullet-holes-container #letters-container .spin {
  animation: rotate 0.25s ease;
}
html nav #bullet-holes-container #letters-container span:hover, body nav #bullet-holes-container #letters-container span:hover {
  transform: rotate(360deg);
}
html nav #bullet-holes-container #letters-container .blue, body nav #bullet-holes-container #letters-container .blue {
  color: #009cda;
}
html nav #bullet-holes-container #letters-container .red, body nav #bullet-holes-container #letters-container .red {
  color: #e71e07;
}
html nav #bullet-holes-container #letters-container .green, body nav #bullet-holes-container #letters-container .green {
  color: #42b132;
}
html nav #bullet-holes-container #letters-container .yellow, body nav #bullet-holes-container #letters-container .yellow {
  color: #fcd000;
}
html nav::before, body nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.15);
  pointer-events: none;
  z-index: 1;
}
html main, body main {
  /* width: 100vw; */
  height: var(--main-height);
  overflow-x: auto;
  /* scrollbar-width: none; 
  -ms-overflow-style: none; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: filter 0.3s ease;
}
html main .pause-mask, body main .pause-mask {
  position: absolute;
  inset: 0;
  background: rgba(200, 200, 200, 0.6);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}
html main #controller-container, body main #controller-container {
  position: fixed;
  bottom: calc(var(--footer-height) + 2%);
  left: 2%;
  z-index: 7;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 10px;
  cursor: grab;
  user-select: none;
  width: 450px;
  height: 176px;
  background-color: #e0ded4;
  border: 2px solid #4B4E43;
  border-radius: 4px;
}
html main #controller-container #controller, body main #controller-container #controller {
  width: 450px;
  height: 176px;
  position: relative;
}
html main #controller-container #controller #buttons-container, body main #controller-container #controller #buttons-container {
  position: absolute;
  top: 32px;
  width: 100%;
  height: 138px;
  background-color: #464646;
  background: linear-gradient(to bottom, #3a3e3b 0%, #232624 100%);
  box-shadow: inset 0px 1px 2px 1px rgba(0, 10, 0, 0.91);
}
html main #controller-container #controller #buttons-container #buttons, body main #controller-container #controller #buttons-container #buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
html main #controller-container #controller #buttons-container #buttons #left, html main #controller-container #controller #buttons-container #buttons #middle, html main #controller-container #controller #buttons-container #buttons #right, body main #controller-container #controller #buttons-container #buttons #left, body main #controller-container #controller #buttons-container #buttons #middle, body main #controller-container #controller #buttons-container #buttons #right {
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 4px;
}
html main #controller-container #controller #buttons-container #buttons #left, body main #controller-container #controller #buttons-container #buttons #left {
  width: 30%;
  position: relative;
}
html main #controller-container #controller #buttons-container #buttons #left #cross, body main #controller-container #controller #buttons-container #buttons #left #cross {
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 110px;
  height: 90px;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #circle, body main #controller-container #controller #buttons-container #buttons #left #cross #circle {
  position: absolute;
  width: 25px;
  height: 25px;
  background: linear-gradient(180deg, rgb(22, 22, 22) 30%, rgb(58, 58, 58) 100%);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 4;
  border-radius: 50%;
  box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.1);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #horizontal-front, html main #controller-container #controller #buttons-container #buttons #left #cross #horizontal-back, html main #controller-container #controller #buttons-container #buttons #left #cross #vertical-front, html main #controller-container #controller #buttons-container #buttons #left #cross #vertical-back, body main #controller-container #controller #buttons-container #buttons #left #cross #horizontal-front, body main #controller-container #controller #buttons-container #buttons #left #cross #horizontal-back, body main #controller-container #controller #buttons-container #buttons #left #cross #vertical-front, body main #controller-container #controller #buttons-container #buttons #left #cross #vertical-back {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100px;
  height: 35px;
  background-color: #252725;
  border-radius: 1px;
  z-index: 2;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #vertical-front, html main #controller-container #controller #buttons-container #buttons #left #cross #vertical-back, body main #controller-container #controller #buttons-container #buttons #left #cross #vertical-front, body main #controller-container #controller #buttons-container #buttons #left #cross #vertical-back {
  transform: rotate(90deg);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #horizontal-back, html main #controller-container #controller #buttons-container #buttons #left #cross #vertical-back, body main #controller-container #controller #buttons-container #buttons #left #cross #horizontal-back, body main #controller-container #controller #buttons-container #buttons #left #cross #vertical-back {
  width: 105px;
  height: 40px;
  background-color: #e0ded4;
  z-index: 1;
  border-radius: 4px;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow, html main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow, html main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow, html main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow {
  position: absolute;
  z-index: 3;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow, html main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow {
  top: 28px;
  padding: 0px 2px;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow img, html main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow img, body main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow img, body main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow img {
  width: 28px;
  height: 35px;
  cursor: pointer;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow {
  left: 5px;
  width: 28px;
  height: 35px;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow {
  right: 5px;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow, html main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow {
  left: 38px;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow img, html main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow img, body main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow img, body main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow img {
  cursor: pointer;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow {
  top: -4px;
  padding: 2px 0px;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow img, body main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow img {
  width: 34px;
  height: 24px;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow, body main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow {
  top: 63px;
  padding: 4px 0px 0px 0px;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow img, body main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow img {
  width: 34px;
  height: 24px;
}
html main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow:hover, body main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow:hover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow:active, body main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow:active {
  background: linear-gradient(to right, rgba(255, 255, 0, 0.5) 0%, rgba(255, 255, 0, 0.05) 100%);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow:active img, body main #controller-container #controller #buttons-container #buttons #left #cross #left-arrow:active img {
  transform: scale(0.8);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow:hover, body main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow:hover {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow:active, body main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow:active {
  background: linear-gradient(to left, rgba(255, 255, 0, 0.5) 0%, rgba(255, 255, 0, 0.05) 100%);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow:active img, body main #controller-container #controller #buttons-container #buttons #left #cross #right-arrow:active img {
  transform: scale(0.8);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow:hover, body main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow:hover {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow:active, body main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow:active {
  background: linear-gradient(to bottom, rgba(255, 255, 0, 0.5) 0%, rgba(255, 255, 0, 0.05) 100%);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow:active img, body main #controller-container #controller #buttons-container #buttons #left #cross #up-arrow:active img {
  transform: scale(0.8);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow:hover, body main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.05) 100%);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow:active, body main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow:active {
  background: linear-gradient(to top, rgba(255, 255, 0, 0.5) 0%, rgba(255, 255, 0, 0.05) 100%);
}
html main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow:active img, body main #controller-container #controller #buttons-container #buttons #left #cross #down-arrow:active img {
  transform: scale(0.8);
}
html main #controller-container #controller #buttons-container #buttons #middle, body main #controller-container #controller #buttons-container #buttons #middle {
  width: 36%;
}
html main #controller-container #controller #buttons-container #buttons #middle .stripe, body main #controller-container #controller #buttons-container #buttons #middle .stripe {
  width: 100%;
  height: 20%;
  background-color: rgba(123, 131, 108, 0.8);
  border-radius: 5px;
}
html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container {
  position: absolute;
  bottom: 17px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 4px;
}
html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-labels, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-labels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-labels span, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-labels span {
  font-family: "Orbitron", sans-serif;
  font-size: 0.85rem;
  font-weight: 800;
  color: #DF2015;
}
html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons {
  background-color: #e0ded4;
  border-radius: 6px;
  border: 4px solid #e0ded4;
  box-shadow: inset 0px 0px 3px 4px rgba(50, 50, 50, 0.3);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  height: 2rem;
}
html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span {
  height: 100%;
  cursor: pointer;
}
html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span #pause, html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span #start, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span #pause, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span #start {
  width: 40px;
  height: 50%;
  background-color: #464646;
  border-radius: 10px;
  border: 1px solid #272723;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.51);
  cursor: pointer;
}
html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span #pause:active, html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span #start:active, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span #pause:active, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span #start:active {
  box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.51);
}
html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span:hover #pause, html main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span:hover #start, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span:hover #pause, body main #controller-container #controller #buttons-container #buttons #middle #pause-start-container #pause-start-buttons span:hover #start {
  box-shadow: 0px 0px 1px 4px rgba(0, 255, 127, 0.7);
}
html main #controller-container #controller #buttons-container #buttons #right, body main #controller-container #controller #buttons-container #buttons #right {
  position: relative;
  height: 100%;
  width: 30%;
}
html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container, body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container {
  position: absolute;
  bottom: 1px;
  left: 10px;
}
html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons, body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}
html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container, body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
  background-color: #e0ded4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container #b-button, html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container #a-button, body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container #b-button, body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container #a-button {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(to bottom, #DF2015 0%, #f84936 100%);
  border-radius: 50%;
  border: 1px rgba(0, 0, 0, 0.51) solid;
  box-shadow: inset 0px 1px 2px 0px #FBFBFB, 0px 1px 1px 0px rgba(0, 0, 0, 0.71);
  cursor: pointer;
}
html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container #b-button:active, html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container #a-button:active, body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container #b-button:active, body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container #a-button:active {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  box-shadow: inset 0px 0px 1px 0px #FBFBFB, 0px 1px 1px 0px rgba(0, 0, 0, 0.21);
}
html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container:has(#b-button:hover), body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container:has(#b-button:hover) {
  box-shadow: 0 0 1px 4px rgba(255, 127, 0, 0.7);
}
html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container:has(#a-button:hover), body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ba-buttons .button-container:has(#a-button:hover) {
  box-shadow: 0 0 1px 4px rgba(255, 127, 0, 0.7);
}
html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ab-labels, body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ab-labels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  column-gap: 8px;
}
html main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ab-labels span, body main #controller-container #controller #buttons-container #buttons #right #ba-buttons-container #ab-labels span {
  font-family: "Orbitron", sans-serif;
  font-size: 0.85rem;
  font-weight: 800;
  color: #DF2015;
  width: 50%;
  display: block;
  text-align: right;
}
html main #controller-container span, body main #controller-container span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
html main #controller-container span img, body main #controller-container span img {
  width: 25px;
  height: auto;
  cursor: pointer;
}
html main #controller.dragging, body main #controller.dragging {
  cursor: grabbing;
}
html main section, body main section {
  height: 100%;
  flex: 0 0 100vw;
  color: black;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
html main #intro, body main #intro {
  background-color: rgba(0, 255, 0, 0.5);
}
html main #skills, body main #skills {
  background-color: rgba(255, 122, 122, 0.5);
}
html main #projects, body main #projects {
  background-color: rgba(0, 122, 122, 0.5);
}
html main #contact, body main #contact {
  background-color: rgba(255, 0, 255, 0.5);
}
html main::-webkit-scrollbar, body main::-webkit-scrollbar {
  display: none;
}
html main.paused .pause-mask, body main.paused .pause-mask {
  filter: brightness(60%);
  opacity: 1;
  /* optional: add a subtle overlay effect */
}
html footer, body footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  background-color: rgba(25, 0, 255, 0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
  font-size: 10px;
  font-family: "Contra", monospace;
  text-transform: uppercase;
  border-top: 4px ridge #888;
}
html footer span a, body footer span a {
  color: blue;
  animation: blink 0.5s steps(1, start) infinite;
  text-shadow: 2px 2px 0px #000;
  text-decoration: none;
}
html footer span a:hover, body footer span a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 5px red;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(300%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes background-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--nav-bg-scroll) 0;
  }
}
@keyframes blink {
  0% {
    color: blue;
  }
  50% {
    color: rgba(255, 255, 255, 0.8);
  }
  100% {
    color: blue;
  }
}
@keyframes slide-from-below {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  25% {
    transform: translateX(10%);
    opacity: 1;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slide-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  25% {
    transform: translateX(-10%);
    opacity: 1;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
